html {
    border: width 5px;
    color: lightgray;
    font-family: sans-serif;
}


header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}


main {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}


body {
   min-height: 100%;
   max-width: 1000px;
}

h1 {
    color: tomato;
}

.title {

    color: black;
}



footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

img {
width: 100%;
}

.Cont{
    
    font-size: bold;
    display: flex;
    justify-content: flex-end;

}

/*Set all of the images to have a width of 100%.
For your site navigation, you'll need to remove all of the padding on the ul elements and then set it's list-style-type to none. It would be a good idea to use a class to style the navigation so that you can still make a bulleted list on your page. Use Flexbox to style the ul for the navigation elements. On the top navigation use the space-between rule to have the menu items spread across their container evenly. Set the color for the anchors inside the main navigation to be lightgray and the footer navigation to be tomato.
Style the title of each of your blog posts so that they are larger.
Style the 'continues...' anchor tags so that they are aligned to the right and are bold and tomato colored.
Set the margin on the bottom the article tags to be 4rem. Also, add a 1px solid border in lightgray to the bottom of each one and give each padding on the bottom of 2rem.
For the p tag inside your article, use the pseudo-element ::first-letter to style the drop cap and set it's color to lightgray.
Style the copyright so it is lightgray.